@charset "UTF-8";

@media (max-width:1380px) {

    li{
        width: 210px;
        height: 210px;
    }
    
}

@media (max-width:1200px) {
    li{
        
            width: 270px;
            height: 270px;
        
        
    }
    
}
@media (max-width:870px) {
    li{
        
        width: 220px;
        height: 220px;
    
    
}
iframe{
    background-color: white;
    height: 10em;
    width: 40em;
    margin-bottom:20px ;
}
}
@media (max-width:830px) {

   li{
    width: 200px;
    height: 200px;
   }


    
}

@media (max-width:680px) {

    li{
        width: 150px;
        height: 150px;
    }
    img{
        width: 70%;
    }
    li > p.img-erro{
        padding-top: 10px;
        text-align: center;
    }
    iframe{
        background-color: white;
        height: 10em;
        width: 30em;
        margin-bottom:20px ;
    }
    
}

@media (max-width:530px) {
    li{
        width: 110px;
        height: 110px;
    }
    img{
        width: 70%;
    }
    li > p.img-erro{
        padding-top: 10px;
        text-align: center;
        font-size: 15px;
    }
    iframe{
        background-color: white;
        height: 50vw;
        width: 80vw;
        margin-bottom:20px ;
    }
    header > h1{
        font-size: 3.5em;
    }


}
@media (max-width:400px) {
    header > h1{
        font-size: 3em;
    }

    header > p{
        padding: 5px;
    }
   
    li{
        width: 110px;
        height: 110px;
    }
    img{
        width: 90%;
    }
    li > p.img-erro{
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
    }

}
@media (max-width:273px) {
    header > h1{
        font-size: 2.5em;
    }
    li{
        width: 110px;
        height: 110px;
        margin: 5px;
    }
    img{
        width: 90%;
    }
    li > p.img-erro{
        padding-top: 5px;
        text-align: center;
        font-size: 13px;
        font-weight: bolder;
    }
    iframe{
        background-color: white;
        height: 200vw;
        width: 80vw;
        margin-bottom:20px ;
    }
    
}